*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none; /*목록에 점 없애는 기능*/
    text-decoration: none; /*하이퍼링크에 밑줄 없애는 기능*/
    border-collapse: collapse; /*테이블사이 분리된걸 붙여주는 기능*/
    margin: 0px; /*글자와 화면간의 여백(외부여백) / border바깥쪽 / 주변 요소와 거리를 두기 위한 영역 */
    padding: 0px; /*글자와 border(글자 영역을 감싸는 테두리선)사이의 여백(내부여백)*/
    color:rgb(0, 0, 0);
}

h1 {
    font-size: 48px;
    font-weight: 100;
}
.contents1 {
    font-size:20px;
    font-weight: lighter;
}

.contents2{
    font-size: 18px;
}

.contents3 {
    font-size: 14px;
    font-weight: 100;
}
  

.contents1_bold {
    font-size: 18px;
    font-weight: bold;
}


/* - 위에는 공통요소 - */

.result{
    font-size: 24px;
}

.intro_bg{
    background-image:url("image/intro.png");
    width: 100%;
    height: 718px;
 } /* <img src=""> 이 방법말고 백그라운드로 가져오는 방법 */

.header{
    display:flex;
    width:1280px;
    margin:auto;
    /* background:red; */
    height:86px;
}
.search_area{
    width:300px;
    height:40px;
    background:rgba(0,0,0,0.5);
    border-radius:5px;
    margin-top:24px;
}
.search_area > form > input{
    border:none;
    width:250px;
    height:40px;
    background:rgba(0, 0, 0, 0);
    color:#fff;
    padding-left:10px;
}

.search_area > form > span {
    width:50px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
} 

.nav { 
    display:flex;
    justify-content: flex-end; /* 끝에 붙여주는 기능*/
    line-height: 86px;
    width:calc(1280px - 300px);
    /* background:blue; */
}

.nav > li{
    margin-left:84px;
}
.nav > li > a{
    color:#fff;
}

.amount {
    position: relative;
    top: -66px;
    display: flex;
    width:1280px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /*우측(앞에-붙이면 좌측) 아래 뿌려지는효과(spread)*/
    margin: auto;
}

.amount > li{
    flex: 1;
    height: 132px;
}

.amount > li > div{
    text-align: center;
    margin-top: 37px;
    height: 57px;  
}
.amount > li:not(:last-child) > div{
    border-right: 1px solid #E1E1E1;
    opacity: 1;
}

.intro_text{
    width:100%;
    margin:231px auto 251px auto; /*상 우 하 좌*/
    text-align:center;
}
.intro_text > h1,
.intro_text > h4{
    color:#fff;
}

/* main_text0 */

.main_text0{
    width: 100%;
    height: 601px;
    margin-top: -132px;
    background: #f1f2f3;
}

.main_text0 > h1 {
    padding-top: 116px;
    text-align: center;
}
.main_text0 > .contents1 {
    text-align: center;
}

.icons{
    display: flex;
    width: 1280px;
    height: 302px;
    margin: auto;
}

.icons > li {
    flex: 1;
    background: white;
    margin-top: 49px;
    height: 302px;
    text-align: center;
}
.icons > li > .icon_img{
    margin-top:18px;
  }
  
.icons > li:not(:last-child){
    margin-right: 20px;
}

.icons .contents2 {
    width:280px;
    margin: auto;
    letter-spacing: -1px;
}
 
.more{
    width: 100px;
    height: 30px;
    background: #2f7af4;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    margin: 25px auto;
    cursor: pointer;
}

/* main_text1 */
.main_text1 {
    width: 100%;
    height: 659px;
}
.main_text1> h1{
    padding-top: 50px;
    text-align: center;
}
.main_text1 > .contents1 {
    text-align: center;
}

.service {
    width: 1280px;
    display: flex;
    margin: 49px auto; /*위아래로 49px씩 떨어짐*/
    height: 427px;
}

.service > .contents2 {
    padding:20px;
}

.service > .contents2 > h2 {
    margin-bottom: 27px;
}

/* main_text2 */
.main_text2 {
    margin:auto;
    width: 1920px;
    height: 418px;
    background-image: url("image/contact.png");
}

.main_text2 > ul {
    display: flex;
    padding-top: 138px;
}

.main_text2 > ul > li {
    flex: 1;
    text-align: center;
}

.main_text2 > ul > li > div > h1, 
.main_text2 > ul > li > div{
    color:#fff;
}

.more2 {
    width: 220px;
    height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
    line-height: 40px;
    margin: 15px auto;
}

footer {
    display: flex;
    background: #1f1f1f;
    padding: 30px;
}

footer > div:first-child {
    flex: 3;
    text-align: center;
    color: #fff;
}

footer > div:last-child {
    flex: 9;
    color: #fff;

}